<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Board - Free Board</title>
  <link href="/assets/bootstrap_short.css" rel="stylesheet">
</head>

<body>
<div id="page-wrapper">
  <!-- side menu -->
  <th:block th:include="/thymeleaf/include/gnb.html :: sideMenu(curBoard='thyme-board')"></th:block>
  <!-- //side menu -->

  <!-- contents -->
  <div id="page-content-wrapper">

    <h1 class="h3">Error</h1>

  </div>
  <!-- //contents -->
</div>
  <script>
  
  </script>
</body>
</html>
