<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Board - Free Board</title>
  <link href="../assets/bootstrap.css" rel="stylesheet">
</head>

<body>
<div id="page-wrapper">
	<!-- side menu -->
    <th:block th:include="/thymeleaf/include/gnb.html :: sideMenu(curBoard='thyme-board')"></th:block>
  	<!-- //side menu -->

  	<!-- contents -->
  	<div id="page-content-wrapper">
	    <h1 class="h3">자유게시판</h1>
	    <br /><br />
	    <div th:object="${thymeBoardPost}" id="detailSection">
	      <h2 th:text="*{title}"></h2>
          <div class="mb-3">
            <div class="mb-3">
              <label th:text="*{writer}" class="form-label"></label><br />
              <label th:text="*{createdAt}" class="form-label" style="font-size: small;"></label><br />       
              <label th:text="|Hits: *{hits}|" class="form-label" style="font-size: small;"></label>       
            </div>
          </div>
          <hr size="5px;">         
          <div th:text="*{contents}" class="mb-3" style="white-space: pre;">
          </div>
          <hr size="5px;">         
          <div class="float-end mb-2" style="margin-left:5px;">
            <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#Modal_del">
                            삭제
            </button>      
          </div>    
          <div class="float-end mb-2">
            <button type="button" class="btn btn-sm btn-outline-primary" onclick="location.href=\'/thyme-board/edit-form?idx=${idx}\'">
                            수정
            </button>
          </div>
		</div>
	</div>
  <!-- //contents -->
</div>

<!-- Delete Post -->
  <div class="modal fade" id="Modal_del" tabindex="-1" aria-labelledby="ModalLabel_del" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel_del">글 삭제</h5>
          <button type="button" class="btn-close" id="del_close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="del_name" class="col-sm-4 col-form-label text-end">비밀번호 입력</label><br/>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="delPassword" name="password" value="">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="deletePost" onclick="deleteFreePost()">확인</button>
        </div>
      </div>
    </div>
  </div>
  
<input type="hidden" id="postIdx" th:value="${thymeBoardPost.idx}" />
<script src="../assets/jquery.min.js"></script>
<script src="../assets/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
<script>
	$(function(){
		//getFreePostDetail(${idx});
		
		var idx = $('#postIdx').val();
		console.log(idx);
		$('#deletePost').on("click", function(){
			
		});
	})
	
</script>
</body>
</html>
