<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myboard.notuse.JspBoardListMapper">
	
	<resultMap id="jspBoardPost" type="com.myboard.notuse.JspBoardPost">
		<result column="idx" property="idx" />
		<result column="title" property="title" />
		<result column="writer" property="writer" />
		<result column="password" property="password" />
		<result column="contents" property="contents" />
		<result column="created_at" property="createdAt" />
		<result column="hits" property="hits" />
	</resultMap>	
	
	<select id="selectTotalJspBoardPost" resultType="int">
		SELECT COUNT(*) 
		FROM tb_jsp_board
		WHERE 1 = 1
		<if test="field=='name'">
		AND title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="field=='contents'">
		AND contents LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</select>
	
	<!-- Select JspBoard Post list  -->
	<select id="selectJspBoardPostList" resultMap="jspBoardPost">
	    <bind name="offset" value="@com.myboard.notuse.JspBoardPost@seekOffset(page, size)"/>
	    SELECT *
		FROM tb_jsp_board
		WHERE 1 = 1
		<if test="field=='name'">
		AND title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="field=='contents'">
		AND contents LIKE CONCAT('%', #{keyword}, '%')
		</if>
		ORDER BY idx DESC
		LIMIT #{offset}, #{size}		
	</select>	
	
	<!-- Insert JspBoard Post -->
	<insert id="insertJspBoardPost" parameterType="com.myboard.notuse.JspBoardPost">
		INSERT INTO tb_jsp_board(title, writer, password, contents)
		VALUES(#{title}, #{writer}, #{password}, #{contents})
	</insert>
	
	<!-- Select JspBoard Post (one) -->
	<select id="selectJspBoardPost" resultMap="jspBoardPost">
		SELECT *
		FROM tb_jsp_board
		WHERE idx = #{idx}
	</select>
	
	<!-- Delete JspBoard Post -->
	<delete id="deleteJspBoardPost">
		DELETE
		FROM tb_jsp_board
		WHERE idx = #{idx}
		AND password = #{password}
	</delete>
	
	<!-- Update JspBoard Post -->
	<update id="updateJspBoardPost" parameterType="com.myboard.notuse.JspBoardPost">
		UPDATE tb_jsp_board
		SET title = #{title}, contents = #{contents}
		WHERE idx = #{idx}	
		AND password = #{password}
	</update>
	
	<!-- Add Hits of JspBoard Post -->
	<update id="updateHitsOfJspBoardPost">
		UPDATE tb_jsp_board
		SET hits = IFNULL(hits, 0) + 1
		WHERE idx = #{idx}	
	</update>
</mapper>