<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myboard.board.repository.MemberBoardMapper">
    
    <resultMap id="memberBoardPost" type="com.myboard.board.domain.MemberBoardPost">
        <result column="idx" property="idx" />
        <result column="title" property="title" />
        <result column="username" property="username" />
        <result column="nickname" property="nickname" />
        <result column="contents" property="contents" />
        <result column="created_at" property="createdAt" />
        <result column="hits" property="hits" />
    </resultMap>    
    
    <select id="selectTotalMemberBoard" resultType="int">
        SELECT COUNT(*) 
        FROM tb_board_member
        WHERE 1 = 1
        <if test="field=='name'">
        AND title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="field=='contents'">
        AND contents LIKE CONCAT('%', #{keyword}, '%')
        </if>
		AND delete_yn = 'n'
    </select>
    
    <!-- Select ThymeBoard Post list  -->
    <select id="selectMemberBoardList" resultMap="memberBoardPost">
        <bind name="offset" value="@com.myboard.board.domain.MemberBoardPost@seekOffset(page, size)"/>
        SELECT *
        FROM tb_board_member
        WHERE 1 = 1
        <if test="field=='name'">
        AND title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="field=='contents'">
        AND contents LIKE CONCAT('%', #{keyword}, '%')
        </if>
		AND delete_yn = 'n'
        ORDER BY idx DESC
        LIMIT #{offset}, #{size}        
    </select>   
    
    <!-- Insert ThymeBoard Post -->
    <insert id="insertMemberBoard" parameterType="com.myboard.board.domain.MemberBoardPost">
        INSERT INTO tb_board_member(title, username, nickname, contents)
        VALUES(#{title}, #{username}, #{nickname}, #{contents})
    </insert>
    
    <!-- Select ThymeBoard Post (one) -->
    <select id="selectMemberBoardDetail" resultMap="memberBoardPost">
        SELECT *
        FROM tb_board_member
        WHERE idx = #{idx}
		AND delete_yn = 'n'
    </select>
    
    <!-- Delete ThymeBoard Post -->
    <delete id="deleteMemberBoard" parameterType="com.myboard.board.domain.MemberBoardPost">
		UPDATE tb_board_member
		SET delete_yn = 'y'
		WHERE idx = #{idx}
		AND username = #{username}
    </delete>
    
    <!-- Update ThymeBoard Post -->
    <update id="updateMemberBoard" parameterType="com.myboard.board.domain.MemberBoardPost">
        UPDATE tb_board_member
        SET title = #{title}, contents = #{contents}
        WHERE idx = #{idx}  
        AND username = #{username}
		AND delete_yn = 'n'
    </update>
    
    <!-- Add Hits of ThymeBoard Post -->
    <update id="updateHits">
        UPDATE tb_board_member
        SET hits = IFNULL(hits, 0) + 1
        WHERE idx = #{idx}  
		AND delete_yn = 'n'
    </update>
</mapper>