<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myboard.board.repository.ThymeBoardListMapper">
	
	<resultMap id="thymeBoardPost" type="com.myboard.board.domain.ThymeBoardPost">
		<result column="idx" property="idx" />
		<result column="title" property="title" />
		<result column="writer" property="writer" />
		<result column="password" property="password" />
		<result column="contents" property="contents" />
		<result column="created_at" property="createdAt" />
		<result column="hits" property="hits" />
	</resultMap>	
	
	<select id="selectTotalThymeBoardPost" resultType="int">
		SELECT COUNT(*) 
		FROM tb_thyme_board
		WHERE 1 = 1
		<if test="field=='name'">
		AND title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="field=='contents'">
		AND contents LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</select>
	
	<!-- Select ThymeBoard Post list  -->
	<select id="selectThymeBoardPostList" resultMap="thymeBoardPost">
	    <bind name="offset" value="@com.myboard.board.domain.ThymeBoardPost@seekOffset(page, size)"/>
	    SELECT *
		FROM tb_thyme_board
		WHERE 1 = 1
		<if test="field=='name'">
		AND title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="field=='contents'">
		AND contents LIKE CONCAT('%', #{keyword}, '%')
		</if>
		ORDER BY idx DESC
		LIMIT #{offset}, #{size}		
	</select>	
	
	<!-- Insert ThymeBoard Post -->
	<insert id="insertThymeBoardPost" parameterType="com.myboard.board.domain.ThymeBoardPost">
		INSERT INTO tb_thyme_board(title, writer, password, contents)
		VALUES(#{title}, #{writer}, #{password}, #{contents})
	</insert>
	
	<!-- Select ThymeBoard Post (one) -->
	<select id="selectThymeBoardPost" resultMap="thymeBoardPost">
		SELECT *
		FROM tb_thyme_board
		WHERE idx = #{idx}
	</select>
	
	<!-- Delete ThymeBoard Post -->
	<delete id="deleteThymeBoardPost">
		DELETE
		FROM tb_thyme_board
		WHERE idx = #{idx}
		AND password = #{password}
	</delete>
	
	<!-- Update ThymeBoard Post -->
	<update id="updateThymeBoardPost" parameterType="com.myboard.board.domain.ThymeBoardPost">
		UPDATE tb_thyme_board
		SET title = #{title}, contents = #{contents}
		WHERE idx = #{idx}	
		AND password = #{password}
	</update>
	
	<!-- Add Hits of ThymeBoard Post -->
	<update id="updateHitsOfThymeBoardPost">
		UPDATE tb_thyme_board
		SET hits = IFNULL(hits, 0) + 1
		WHERE idx = #{idx}	
	</update>
</mapper>